[user]
	name = Michael Mugnai
	email = michael.mugnai@gmail.com
	signingkey = michael.mugnai@gmail.com
[commit]
	gpgsign = true
[pull]
	ff = only
[core]
	autocrlf = input
[credential]
	helper = store
[init]
	defaultBranch = main
[difftool]
    prompt = true
[diff]
    tool = nvim-diff
[difftool "nvim-diff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
